<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>处理问题</title>
</head>
<body>
    <table>
        <tr>
            <a href="/tjwt">提出问题</a>
            <a href="/beforcl">处理问题</a>
            <a href="/wdwt">我的问题</a>
        </tr>
    </table>
<!--模糊查询-->
<form method="post" action="mhcx">
    <table align="center">
        <tr>
            <th>问题标题</th>
            <td><input type=text name="titl"></td>
            <th>问题状态</th>
            <td>
                <input type=radio name="state" class=nob value="a" checked>全部
                <input type=radio name="state" class=nob value="1">等待处理
                <input type=radio name="state" class=nob value="2">正在处理
                <input type=radio name="state" class=nob value="3">已处理
                <input type=radio name="state" class=nob value="4">无法处理
            </td>
        </tr>
        <tr>
            <th>时间段</th>
            <td>
                <input type=text name="startTime" size=10 readonly onclick=setday(this)>
                -
                <input type=text name="endTime" size=10 readonly onclick=setday(this)>
            </td>
        </tr>
        <tr><th colspan=4><input type=submit value="查 询"></th></tr>
    </table>
</form>
<!--问题展示-->
<form action="/delse" method="post">
    <table align="center">
    <thead>
        <tr>
            <td>问题标题</td>
            <td>问题内容</td>
            <td>问题状态</td>
            <td>问题提交人</td>
            <td>问题提交时间</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="i:${pb.show}">
            <td th:text="${i.titl}"></td>
            <td th:text="${i.content}"></td>
            <td th:text="${i.state}"></td>
            <td th:text="${i.username}"></td>
            <td th:text="${i.opentime}"></td>
            <td ><a  th:href="|/beforclone?iid=${i.iid}|">处理</a></td>
        </tr>
    </tbody>
    </table>
</form>
    <span th:text="|共有 ${pb.count }条记录,当前第 ${pb.p } 页/共 ${pb.total }页|"/>
<a href="/cxall?p=1">首页</a>
<a th:href="|cxall?p=${pb.up}|">上一页</a>
<a th:href="|cxall?p=${pb.down}|">下一页</a>
<a th:href="|cxall?p=${pb.total }|">>尾页</a>
</body>
</html>