<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.piao888.issue.mapper.BaseMapper">
    <select id="selectByid" resultType="top.piao888.issue.domain.Base" parameterType="java.lang.Integer">
        select * from Base
        where  bid=#{bid,jdbcType=DECIMAL}
    </select>
    <select id="getAll" resultType="top.piao888.issue.domain.Base">
        select * from Base
    </select>
</mapper>